name: fabric_flutter
description: Native components and helpers
version: 0.0.39
author: The FabricElements Authors

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  imgix: ^0.2.0
  charts_flutter: ^0.9.0
  flutter_sound: ^6.3.1+1
  country_code_picker: ^1.6.2
  flutter_cache_manager: ^2.0.0
  image_picker: ^0.6.7+12
  file_picker: ^2.0.11
  provider: ^4.3.2+2
  transparent_image: ^1.0.0
  image: ^2.1.18
  cloud_firestore: ^0.14.2
  cloud_functions: ^0.6.0+1
  firebase_analytics: ^6.1.0
  firebase_core: ^0.5.1
  firebase_auth: ^0.18.2
  firebase_dynamic_links: ^0.6.1
  firebase_messaging: ^7.0.3
  firebase_storage: ^4.0.1
#  http: ^0.12.1

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#  - images/a_dot_burr.jpeg
#  - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware.

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages
